[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-config.yaml \
  --kubeconfig=/var/lib/kubelet/worker-2.kubeconfig \
  --container-runtime-endpoint=unix:///run/containerd/containerd.sock \
  --bootstrap-kubeconfig="/var/lib/kubelet/bootstrap-kubeconfig" \
  --cert-dir=/var/lib/kubelet/pki/ \
  --rotate-certificates=true \
  --rotate-server-certificates=true \
  --register-node=true \
  --fail-swap-on=false \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
